<!-- Navigation -->
<nav class="bg-white shadow-md py-4 px-6">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo -->
    <a href="#" class="flex items-center gap-2">
      <img class="w-24" src="/images/joracle-logo.svg" alt="Joracle Logo">
    </a>

    <!-- Navigation Links -->
    <div class="flex items-center space-x-6 text-base font-medium">
      <a href="#" class="hover:text-red-700 transition-colors flex items-center gap-2">
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path fill="#000" d="..." /></svg>
        Accueil
      </a>

      <a [routerLink]="['/list']" class="hover:text-red-700 transition-colors flex items-center gap-2">
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path fill="#000" d="..." /></svg>
        Articles
      </a>

      <a [routerLink]="['/about']" class="hover:text-red-700 transition-colors flex items-center gap-2">
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path fill="#000" d="..." /></svg>
        À Propos
      </a>

      <!-- Condition utilisateur connecté -->
      <ng-container *ngIf="userConnected(); else notConnected">
        <a class="hover:text-red-700 transition-colors flex items-center gap-2">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path fill="#000" d="..." /></svg>
          Contact
        </a>
        <a routerLink="/dashboard" class="bg-red-700 text-white px-4 py-2 rounded-md hover:bg-red-800 transition">Admin</a>
      </ng-container>

      <!-- Utilisateur non connecté -->
      <ng-template #notConnected>
        <a class="hover:text-red-700 transition-colors flex items-center gap-2">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path fill="#000" d="..." /></svg>
          Contact
        </a>
        <button (click)="redirectToLogin()" class="bg-red-700 text-white px-4 py-2 rounded-md hover:bg-red-800 transition">
          Se connecter
        </button>
      </ng-template>
    </div>
  </div>
</nav>
